* {
    background-color: aqua;
    color: blue;
}

.GameBoard {
    background-color: rgb(51, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 50rem;
    width: 50rem;
    margin: 0 auto;
}