* {
    background-color: aqua;
    color: blue;
}

.GameBoard {
    background-color: rgb(51, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: 60rem;
    width: 60rem;
    margin: 0 auto;
}